<div id="sidebar-wrapper" class="collapse sidebar-collapse">
  <div id="search">
    <form method="post" action="<%= @mount %>search">
      <input name="ip" id="ip" class="form-control input-sm" type="text" name="search" placeholder="Search for an Actor" />
      <button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
    </form>
  </div>

  <nav id="sidebar">
    <ul id="main-nav" class="open-active">
      <li>
        <a href="<%= @mount%>">
          <i class="fa fa-dashboard"></i>
          Dashboard
        </a>
      </li>

      <li>
        <a href="<%= @mount %>blacklist">
          <i class="fa fa-ban"></i>
          Blacklist
        </a>
      </li>

      <li>
        <a href="<%= @mount %>suspects">
          <i class="fa fa-gavel"></i>
          Suspects
        </a>
      </li>

      <li>
        <a href="<%= @mount%>whitelist">
          <i class="fa fa-thumbs-o-up"></i>
          Whitelist
        </a>
      </li>

      <!-- <li>
      <a href="javascript:;">
      <i class="fa fa-bar-chart-o"></i>
      ModSecurity Analysis
      </a>
      </li> -->

      <li>
        <a href="<%= @mount %>worldview">
          <i class="fa fa-globe"></i>
          World View
        </a>
      </li>
    </ul>
  </nav>
</div>

<div id="content">
  <div id="content-header">
    <h1>Activity For <%= @ip %></h1>
  </div>

  <div id="content-container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 col-sm-5">
            <div id="map" style="width: 263px; height: 234px;" class="thumbnail"></div>
            <script type="text/javascript">
             var myLatlng = new google.maps.LatLng(<%= @lat %>, <%= @lng %>);
             var mapOptions = {
               zoom: 9,
               center: myLatlng
             }
             var map = new google.maps.Map(document.getElementById('map'), mapOptions);

             var marker = new google.maps.Marker({
               position: myLatlng,
               map: map,
             });
            </script>
          </div>

          <div class="col-md-8 col-sm-7">
            <h4>
              <% if @city %>
                <%= @city %>
              <% end %>
              <% if @region %>
                <%= @region %>
              <% end %>
              <% if @country %>
                <%= @country%>
              <% end %>
            </h4>

            <ul class="icons-list">
              <li>
                <% if @lat and @lng %>
                  <i class="icon-li fa fa-map-marker"></i> <%= @lat %>, <%= @lng %>
                <% end %>
              </li>
            </ul>

            <hr />

            <h4>ModSecurity Rules Triggered</h4>
            <p><%= @modsecurity[:triggered] %></p>

            <hr />

            <p>
	      <script>
	       function act(action) {
		 $.post('<%= @mount%>action', {'action':action, 'ip': '<%= @ip %>'}, function(data) {
		   window.location = '<%= @mount %>actors/<%= @ip %>';
		 });
	       }
	      </script>
              <% if !@blacklisted %>
                <a href="javascript:act('blacklist');" class="btn btn-primary">Blacklist</a>
              <% end %>
              <% if !@whitelisted %>
                <% if !@blacklisted %>
                  &nbsp;&nbsp;
                <% end %>
                <a href="javascript:act('whitelist');" class="btn btn-secondary">Whitelist</a>
              <% end %>
            </p>
          </div>
        </div>

        <div class="col-md-12">
          <h3 class="heading">Activity</h3>
          <div>
            <ul class="icons-list">
              <% @activity.each do |action| %>
                <li><%= h action %></li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-md-3 col-sm-6 col-sidebar-right">

        <h4>Analysis</h4>

        <div class="list-group">
          <a href="javascript:;" class="list-group-item"><h3 class="pull-right"><i class="fa fa-eye"></i></h3>
            <h4 class="list-group-item-heading"><%= @activity.size %></h4>
            <p class="list-group-item-text">Requests</p>
          </a>

          <a href="javascript:;" class="list-group-item"><h3 class="pull-right"><i class="fa fa-eye"></i></h3>
            <h4 class="list-group-item-heading"><%= @modsecurity[:offenses] %></h4>
            <p class="list-group-item-text">ModSecurity Offenses</p>
          </a>

          <a href="javascript:;" class="list-group-item"><h3 class="pull-right"><i class="fa fa-eye"></i></h3>
            <h4 class="list-group-item-heading"><%= @ofdp_score%></h4>
            <p class="list-group-item-text">OFDP Score</p>
          </a>
        </div>

        <br />
      </div>
    </div>
  </div>
</div>
