<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Repsheet::Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Aaron Bedra">

    <link href="<%= @mount %>css/bootstrap.css" rel="stylesheet">
    <link href="<%= @mount %>css/bootstrap-responsive.css" rel="stylesheet">
    <link href="<%= @mount %>css/blue/style.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

      #search {
        padding-bottom: 20px;
      }

      .actors {
        border-color: #FFF;
      }

      #suspects-wrapper {
        float: left;
      }

      #suspects-table-wrapper {
        overflow: auto;
        max-height: 800px;

      }

      #suspects {
        width: 550px;
      }

      #blacklisted-wrapper {
        float: right;
      }

      #blacklisted-table-wrapper {
        overflow: auto;
        max-height: 570px;
      }

      #blacklisted {
        width: 550px;
      }

      .clearfix {
        display: inline-block;
        clear: both;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="<%= @mount %>javascripts/html5shiv.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="<%= @mount %>images/favicon.ico">

    <script src="<%= @mount %>javascripts/jquery-latest.js" type="text/javascript"></script>
    <script src="<%= @mount %>javascripts/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="<%= @mount %>javascripts/application.js" type="text/javascript"></script>

    <script type="text/javascript">
      function activity(ip) {
        return "<%= @mount %>activity/" + ip;
      }

      $(document).ready(function() {
        $("#search-button").click(function() {
          ip = $("#ip").val();
          if (ip === "") return;
          window.location = activity(ip);
        });
      });
    </script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="<%= @mount %>">Repsheet</a>
	  <div class="nav-collapse collapse">
	    <ul class="nav">
	      <li class="active"><a href="<%= @mount %>">Actors</a></li>
	      <!-- <li><a href="<%= @mount %>breakdown">Breakdown</a></li> -->
	      <li><a href="<%= @mount %>worldview">Worldview</a></li>
	    </ul>
	  </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="search">
	<label-for="ip"><b>Find Activity For an IP</b> </label>
	<input name="ip" id="ip" type="text-field"/>
	<input type="submit" id="search-button" value="Search"/>
      </div>

      <div id="suspects-wrapper">
	<h2>Top 10 Suspect Actors</h2>
	<div id="suspects-table-wrapper">
	  <table id="suspects" class="tablesorter actors">
            <thead>
	      <tr>
		<th>IP</th>
                <th>Triggered Rules</th>
		<th>Offenses</th>
		<th>Activity</th>
		<th>Action</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @suspects.each do |actor,details| %>
	      <tr>
		<td><%= actor %></td>
		<td><%= details[:detected] %></td>
		<td><%= details[:total] %></td>
		<td width=100><a href="<%= @mount %>activity/<%= actor %>">Click to see activity</a>
		<td width=90>
		  <form method="post" action="<%= @mount %>action" class="button_to">
		    <div>
		      <input value="<%= action(actor, 'false') %>" type="submit" />
		      <input type="hidden" name="ip" value="<%= actor %>"/>
		      <input type="hidden" name="action" value="<%= action(actor, 'false') %>"/>
		    </div>
		  </form>
		</td>
	      </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
      </div>

      <div class="clearfix"></div>

      <div id="blacklisted-wrapper">
	<h2>Blacklisted Actors</h2>
	<div id="blacklisted-table-wrapper">
	  <table id="blacklisted" class="tablesorter actors">
            <thead>
	      <tr>
		<th>IP</th>
                <th>Triggered Rules</th>
		<th>Offenses</th>
		<th>Activity</th>
		<th>Action</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @blacklisted.each do |actor,details| %>
	      <tr>
		<td><%= actor %></td>
		<td><%= details[:detected] %></td>
		<td><%= details[:total] %></td>
		<td width=100><a href="<%= @mount %>activity/<%= actor %>">Click to see activity</a>
		<td width=70>
		  <form method="post" action="<%= @mount %>action" class="button_to">
		    <div>
		      <input value="<%= action(actor, 'true') %>" type="submit" />
		      <input type="hidden" name="ip" value="<%= actor %>"/>
		      <input type="hidden" name="action" value="<%= action(actor, 'true') %>"/>
		    </div>
		  </form>
		</td>
	      </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </body>
</html>
