<div id="sidebar-wrapper" class="collapse sidebar-collapse">
  <div id="search">
    <form>
      <input class="form-control input-sm" type="text" name="search" placeholder="Search..." />
      <button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
    </form>
  </div>

  <nav id="sidebar">
    <ul id="main-nav" class="open-active">
      <li>
        <a href="<%= @mount %>">
          <i class="fa fa-dashboard"></i>
          Dashboard
        </a>
      </li>

      <li>
        <a href="<%= @mount%>blacklist">
          <i class="fa fa-ban"></i>
          Blacklist
        </a>
      </li>

      <li class="active">
        <a href="<%= @mount%>suspects">
          <i class="fa fa-gavel"></i>
	  Suspects
        </a>
      </li>

      <li>
        <a href="<%= @mount%>whitelist">
          <i class="fa fa-thumbs-o-up"></i>
	  Whitelist
        </a>
      </li>

      <li>
        <a href="javascript:;">
          <i class="fa fa-bar-chart-o"></i>
	  ModSecurity Analysis
        </a>
      </li>

      <li>
        <a href="javascript:;">
          <i class="fa fa-globe"></i>
	  World View
        </a>
      </li>
    </ul>
  </nav>
</div>

<div id="content">
  <div id="content-header">
    <h1>Suspect Actors</h1>
  </div>

  <div id="content-container">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet">
          <div class="portlet-header">
            <h3>All Suspect Actors</h3>
          </div>

          <div class="portlet-content">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>IP Address</th>
		    <th>Triggered ModSecurity Rules</th>
                    <th>Offenses</th>
                    <th>Requests</th>
		    <th></th>
                  </tr>
                </thead>
                <tbody>
		  <% @suspects.each do |actor, data| %>
                  <tr>
                    <td><%= actor %></td>
		    <td><%= data[:detected] %></td>
                    <td><%= data[:total] %></td>
		    <td><%= data[:requests] %></td>
                    <td><a href="<%= @mount %>actors/<%= actor %>" class="btn btn-xs btn-tertiary">View &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a></td>
                  </tr>
		  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
