<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Repsheet::Visualizer::Whitelist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Aaron Bedra">

    <link href="<%= @mount %>css/bootstrap.css" rel="stylesheet">
    <link href="<%= @mount %>css/bootstrap-responsive.css" rel="stylesheet">
    <link href="<%= @mount %>css/blue/style.css" rel="stylesheet">
    <link href="<%= @mount %>css/application.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="<%= @mount %>javascripts/html5shiv.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="<%= @mount %>images/favicon.ico">

    <script src="<%= @mount %>javascripts/jquery-latest.js" type="text/javascript"></script>
    <script src="<%= @mount %>javascripts/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="<%= @mount %>javascripts/application.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="<%= @mount %>">Repsheet</a>
	  <div class="nav-collapse collapse">
	    <ul class="nav">
	      <li><a href="<%= @mount %>">Actors</a></li>
	      <li class="active"><a href="<%= @mount %>whitelist">Whitelist</a></li>
	      <li><a href="<%= @mount %>breakdown">Breakdown</a></li>
	      <li><a href="<%= @mount %>worldview">Worldview</a></li>
	    </ul>
	  </div>
	  <div id="search">
	    <input name="ip" id="ip" type="text-field" placeholder="Find Activity For an IP"/>
	    <input type="submit" id="search-button" value="Search"/>
	  </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="suspects-wrapper">
	<h2>Whitelist</h2>
	<div id="suspects-table-wrapper">
	  <table id="suspects" class="tablesorter actors">
            <thead>
	      <tr>
		<th>IP</th>
		<th>Activity</th>
		<th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @whitelist.each do |actor| %>
	      <tr>
		<td><%= actor %></td>
		<td width=100><a href="<%= @mount %>activity/<%= actor %>">Click to see activity</a>
		<td width=90>
		  <form method="post" action="<%= @mount %>action" class="button_to">
		    <div>
		      <input value="<%= action(actor, 'false') %>" type="submit" />
		      <input type="hidden" name="ip" value="<%= actor %>"/>
		      <input type="hidden" name="action" value="<%= action(actor, 'false') %>"/>
		    </div>
		  </form>
		</td>
	      </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </body>
</html>
